/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.cal-future {
    cursor: pointer;
}
mwl-calendar-month-cell:not(.cal-future) {
    cursor: default !important;
}
mat-form-field {
    width: 80%;
  }

.mat-grid-tile .mat-figure {
    align-items: start !important;
}